#canvas-controls, #easing-graph {
  float: left;
}
#easing-graph {
  margin-left: 30px;
  border: 1px dotted black;
}

#canvas-anim-controls button {
  margin-right: 10px;
}

#canvas {
  clear: both;
  display: block;
  border: 1px solid black;
}

button, select, option {
  cursor: pointer;
}